@tailwind base;
@tailwind components;
@tailwind utilities;


/* https://codepen.io/mburridge/pen/VOBWyQ pulled css for stone buttons from here */

.stone-add-button{
  margin: auto;
	width: 170px;
	height: 34px;
	background: #eae6ed;
	display: flex;
	box-shadow: inset -6px -6px 20px #778, inset 1px 18px 36px #fffffc, 1px 2px 5px hsla(0,0%,0%,0.25);
  border-radius: 99% 74% 90% 80%;
  /* box-shadow: inset -28px -22px 36px #778, inset 38px 18px 36px #fffffc, 12px 8px 18px hsla(0,0%,0%,0.25);
  border-radius: 49% 68% 86% 200px /62% 54% 80% 180px; */
}

.stone-delete-button{
  margin-left:3px;
	width:25px;
	height: 25px;
	background: #eae6ed;
	display: flex;
	box-shadow: inset -6px -6px 20px #778, inset 1px 18px 36px #fffffc, 1px 2px 5px hsla(0,0%,0%,0.25);
  border-radius: 99% 74% 90% 80%;
  /* box-shadow: inset -28px -22px 36px #778, inset 38px 18px 36px #fffffc, 12px 8px 18px hsla(0,0%,0%,0.25);
  border-radius: 49% 68% 86% 200px /62% 54% 80% 180px; */
}
.stone-content{
  margin:auto;

}

